<files ".htaccess">
order allow,deny
deny from all
</files>
Options All -Indexes
ErrorDocument 404 /404.php
php_value upload_max_filesize 500K

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]