#div1{
background-color:#FFF;
color:#036;
border-radius:15px;
border:1px solid #d3cd3d;
padding:4px 30px;
font-weight:700;
width:800px;
font-size:12px;
height:auto;
margin:auto
}
#div{
background-color:#FFF;
color:#036;
border-radius:15px;
border:1px solid #d3cd3d;
padding:4px 30px;
font-weight:700;
width:600px;
font-size:12px;
height:auto;
margin:auto
}
label{
	font-size: 15px;
	text-align: right;
}
h3{
text-align:center;
font-size:21px
}
div#mainform{
width:960px;
margin:50px auto;
font-family:'Fauna One',serif
}
input[type=text]{
width:200px;
height:40px;
margin-top:0px;
border:1px;
border-radius:3px;
padding:0px;
font-size:20px;
font-family:Tahoma ;
color:#06C ;
background-color:#CCC ;
}
input[type=text]:hover
{
	background-color:#FFC ;
}
textarea{
width:85%;
height:80px;
margin-top:10px;
border:1px solid #036;
border-radius:3px;
padding:5px;
resize:none
}
input[type=radio]{
margin:10px 5px 5px
}
input[type=submit]{
width:200px;
height:40px;
margin:35px 0 30px;
background-color:#f4a460;
border:1px solid #fff;
border-radius:3px;
font-family:'Fauna One',serif;
font-weight:700;
font-size:18px
}
input[type=submit]:hover{
background-color:#FFC;
}
#mess
{ font-family:Tahoma ; color:#F00 ; font-size:11px ;
	
	}
